@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.section__description, .section__item-description, .hero__description {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgba(38, 42, 63, 0.8);
  font-size: 1.125rem;
  line-height: 1.625rem;
}
@media screen and (max-width: 769px) {
  .section__description, .section__item-description, .hero__description {
    font-size: 16px;
  }
}

.section__item-title, .section__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 2.5rem;
  line-height: 3rem;
}
@media screen and (max-width: 769px) {
  .section__item-title, .section__title {
    font-size: 36px;
  }
}

* {
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bg-body.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  border: none;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

i {
  color: rgb(133, 187, 177);
}

.container, .footer, .section, .hero, .header__container {
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (max-width: 768px) {
  .container, .footer, .section, .hero, .header__container {
    max-width: 700px;
    padding: 0 10px;
  }
}

.header {
  margin-top: 30px;
  padding: 24px 0;
  width: 100%;
  height: 80px;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.02))), -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.navigation__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.navigation__link::after {
  display: block;
  content: "";
  width: 0;
  border-bottom: 3px solid rgba(241, 137, 123, 0.3);
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.navigation__link:hover::after, .navigation__link:focus::after {
  width: calc(100% + 2px);
}
.navigation__link:focus {
  outline: none;
}

.hero {
  margin-top: 260px;
  margin-bottom: 150px;
}
.hero__container {
  max-width: 523px;
}
.hero__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 2.75rem;
  line-height: 3.25rem;
}
.hero__description {
  margin: 20px 0 50px;
}

.section {
  margin-bottom: 120px;
}
.section--info {
  background-image: url("../assets/statistic-image.png");
  background-position: left;
  background-size: 570px;
  background-repeat: no-repeat;
  height: 670px;
  position: relative;
}
.section--quote {
  padding: 50px 35px 50px;
  height: 400px;
  background-image: url("../assets/bg-quote.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .section--quote {
    padding: 100px 0 100px 160px;
  }
}
.section--screensaver {
  max-width: 970px;
  background-image: url("../assets/tablet.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.section--promises {
  background-image: url("../assets/features-background.png");
  background-position: left;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 540px;
  position: relative;
}
.section__title {
  margin-bottom: 20px;
}
.section__subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 1.5rem;
  line-height: 3rem;
}
.section__description--info {
  margin-bottom: 50px;
}
.section__content--info {
  gap: 5px;
  top: 20px;
}
@media screen and (min-width: 768px) {
  .section__content--info {
    padding: 45px 0;
    gap: 0;
  }
}
.section__content--promises {
  gap: 15px;
  padding: 15px 0;
  top: 35px;
}
@media screen and (min-width: 768px) {
  .section__content--promises {
    gap: 100px;
    padding: 75px 0 75px 70px;
    top: 45px;
  }
}
.section__content--info, .section__content--promises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 770px;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 768px) {
  .section__content--info, .section__content--promises {
    top: 45px;
    width: 770px;
  }
}
.section__content--reviews {
  max-width: 400px;
  margin-bottom: 50px;
}
.section__content--contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .section__content--contact {
    justify-content: space-between;
  }
}
.section__list--info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section__list--info {
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
}
.section__list--benefits, .section__list--reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .section__list--benefits, .section__list--reviews {
    justify-content: flex-start;
  }
}
.section__item-symbol, .section__item-amount {
  font-family: "Playfair Display", serif;
}
.section__item-symbol {
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 2.5rem;
  line-height: 3.125rem;
  margin-right: 10px;
}
.section__item-amount {
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 2.5rem;
  line-height: 4.5rem;
}
@media screen and (min-width: 768px) {
  .section__item-amount {
    font-size: 68px;
  }
}
.section__item-title {
  margin-bottom: 30px;
}
.section__item--info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.section__item--benefits {
  flex-shrink: 1;
  flex-grow: 1;
  width: calc(25% - 30px);
  min-width: 400px;
  padding: 20px 35px 0;
  height: 250px;
  position: relative;
}
.section__item--benefits::after {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% - 35px);
  border: 0.5px solid rgb(228, 228, 228);
}
.section__item--reviews {
  max-width: 370px;
  height: 340px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.section__item--bg-1, .section__item--bg-2, .section__item--bg-3 {
  z-index: 1;
}
.section__item--bg-1 {
  background-image: url("../assets/bg-reviews-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__item--bg-2 {
  background-image: url("../assets/bg-reviews-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__item--bg-3 {
  background-image: url("../assets/bg-reviews-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__inner-content {
  max-width: 400px;
}
.section__blockquote {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  line-height: 2.875rem;
  max-width: 710px;
  position: relative;
}
.section__blockquote::before {
  content: url(../assets/quote-icon.svg);
  position: absolute;
  top: -30px;
  left: -60px;
}
@media screen and (min-width: 768px) {
  .section__blockquote {
    font-size: 32px;
  }
}
.section__author {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 40px;
}
.section__video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 870px;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  top: 31px;
  left: 0;
  margin-bottom: 80px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .section__video-container {
    left: 30px;
  }
}
.section__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.section__text-container {
  width: 300px;
}
.section__text-container--contact {
  width: 470px;
}
.section__testimonial-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.625rem;
}
.section__testimonial-author {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.section__item-overlay {
  width: 100%;
  height: 340px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(25, 28, 41, 0.6);
  z-index: -1;
}
.section--contact {
  padding-top: 60px;
  border-top: 1px solid rgb(228, 228, 228);
}

.button {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: rgb(241, 137, 123);
  font-size: 1.25rem;
  line-height: 1.25rem;
  position: relative;
}
.button::before {
  content: "";
  width: 100%;
  height: 13px;
  background-color: rgba(241, 137, 123, 0.3);
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.button:hover {
  color: #E54F3A;
}
.button:hover::before {
  background: rgba(229, 79, 58, 0.3);
}
.button:focus {
  outline: none;
}
.button:focus::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
.button:active::before {
  width: 0;
}
.button--border {
  border: 1px solid rgb(228, 228, 228);
  padding: 33px 89px;
  max-width: 300px;
  height: 90px;
}
.button--border::before {
  width: 113px;
  top: 43px;
  left: 100px;
}
.button--border:hover {
  border-color: #E54F3A;
}
.button--send-request {
  width: 146px;
}

.divider {
  width: 100px;
  border-bottom: 0.5px solid rgb(133, 187, 177);
  margin-top: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
  width: 470px;
}
.form__input {
  width: 100%;
  height: 32px;
}

.input {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.input::-webkit-input-placeholder {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.input::-moz-placeholder {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.input:-ms-input-placeholder {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.input::-ms-input-placeholder {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.input::placeholder {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.input:hover, .input:focus {
  border-color: rgb(133, 187, 177);
}
.input:focus {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid rgb(228, 228, 228);
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 769px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }
}
.footer__copyright, .footer__credits-text {
  font-weight: 300;
  color: rgba(38, 42, 63, 0.8);
  font-size: 0.875rem;
  line-height: 1.625rem;
}
.footer__credits-text {
  margin-right: 12px;
}
.footer__credits-author, .footer__link {
  font-weight: 400;
  color: rgb(38, 42, 63);
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.footer__credits-author:hover, .footer__credits-author:focus, .footer__link:hover, .footer__link:focus {
  opacity: 0.6;
}
.footer__credits-author:focus, .footer__link:focus {
  outline: none;
}
.footer__link:nth-of-type(1) {
  margin-right: 32px;
}

/*# sourceMappingURL=main.css.map */
