$font-main: "Lato", sans-serif;
$font-secondary: "Playfair Display", serif;

$size-title: 40px;
$size-subtitle: 24px;
$size-description: 18px;


$color-text:     rgb(38, 42, 63, 0.8);
$color-title:    rgb(38, 42, 63);
$color-red:      rgb(241, 137, 123);
$color-red-bg:   rgb(241, 137, 123, 0.3);
$color-green:    rgb(133, 187, 177);
$color-grey:     rgb(228, 228, 228);
$color-overlay:  rgb(25, 28, 41, 0.6);
$color-white:    rgb(255, 255, 255);
$color-white-bg: rgb(255, 255, 255, 0.9);
$color-dark-red:  #E54F3A;
$color-dark-red-bg: rgb(229, 79, 58, 0.3);

