@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "./variables";
@import "./mixins";
@import "./common";

@import "./components/container";
@import "./components/header";
@import "./components/navigation";
@import "./components/hero";
@import "./components/section";
@import "./components/button";
@import "./components/divider";
@import "./components/form";
@import "./components/input";
@import "./components/footer";