.burger {


    position: relative;
    top: 10px;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    width: 24px;
    height: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__line,
    &::after,
    &::before {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: absolute;
        height: 3px;
        background-color: currentColor;
        width: 100%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }

    &::after,
    &::before {
        content: "";
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &__line {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
}