.header {
    position: fixed;
    top: 30px;
    left: 0;
    padding: 24px 0;
    width: 100%;
    z-index: 100;
    height: $header-height;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.02))), -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);

    &__container {
        @extend .container;
        @include flex(row, nowrap, space-between, flex-start);
    }


    &__burger,
    &__burger-input {
        @media screen and (min-width: 768px) {
            visibility: hidden;
        }
    }

    &__navigation {
        visibility: hidden;
        height: calc(100vh - $header-height);

        @media screen and (min-width: 768px) {
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
            visibility: visible;
            opacity: 1;
            -webkit-transform: initial;
            -ms-transform: initial;
            transform: initial;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }
    }

    &__burger-input:checked~&__navigation {
        visibility: visible;
        opacity: 1;
    }

    &:has(&__burger-input:checked) {
        height: 100vh;
        background: $color-overlay-header;
        -webkit-transition-property: height;
        -o-transition-property: height;
        transition-property: height;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    &__burger-input:checked~&__burger,
    &__burger-input:checked~&__logo,
    &__burger-input:checked~&__nav &__link {
        color: $color-white;
    }

    &__burger-input:checked~&__burger &__burger-line {
        -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
    }

    &__burger::before {
        -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
        transform-origin: center left;
    }

    &__burger-input:checked~&__burger::before {
        -webkit-transform: translateY(10px) translateX(3px) rotate(-45deg);
        -ms-transform: translateY(10px) translateX(3px) rotate(-45deg);
        transform: translateY(10px) translateX(3px) rotate(-45deg);
    }

    &__burger::after {
        -webkit-transform-origin: center right;
        -ms-transform-origin: center right;
        transform-origin: center right;
    }

    &__burger-input:checked~&__burger::after {
        -webkit-transform: translateY(-2px) translateX(-3px) rotate(45deg);
        -ms-transform: translateY(-2px) translateX(-3px) rotate(45deg);
        transform: translateY(-2px) translateX(-3px) rotate(45deg);
    }
}