.navigation {
    position: fixed;
    top: $header-height;
    width: 100%;
    padding: 24px;
    @media screen and (min-width:768px) {
        padding: initial;
        background-color: initial;
        width: initial;
        left: initial;
        top: initial;
        position: initial;
        height: 24px;
    }
    &__list {
        @include flex(column, nowrap, flex-start, center);
        gap: 50px;
        @media screen and (min-width: 768px) {
            @include flex(row, nowrap, flex-start, center);
            width: 100%;
            gap: 30px;
        }
    }

    &__link {
        font-family: $font-main;
        @include text(14px, 400, $color-white, 24px);
        @media screen and (min-width: 768px) {
            color: $color-title;
        }
        &::after {
            display: block;
            content: '';
            width: 0;
            border-bottom: 3px solid $color-red-bg;
            -webkit-transition: width 0.3s ease;
            -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
        }

        &:hover::after,
        &:focus::after {
            width: calc(100% + 2px);
        }

        &:focus {
            outline: none;
        }
    }

}
