.section {
  @extend .container;
  margin-bottom: 120px;

  &--info {
    @include background-image("../assets/statistic-image.png", left, 570px);
    height: 670px;
    position: relative;
  }

  &--quote {
    padding: 50px 35px 50px;
    height: 400px;
    @include background-image("../assets/bg-quote.png");
    @media screen and (min-width: 768px) {
      padding: 100px 0 100px 160px;
    }
  }

  &--screensaver {
    max-width: 970px;
    @include background-image("../assets/tablet.svg", top, contain);
  }

  &--promises {
    @include background-image("../assets/features-background.png", left, 600px);
    height: 540px;
    position: relative;
  }

  &__title {
    @extend %style-title;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: $font-secondary;
    @include text(24px, 400, $color-title, 48px);
  }

  &__description,
  &__item-description {
    @extend %style-text;
  }

  &__description {
    &--info {
      margin-bottom: 50px;
    }
  }

  &__content {
    &--info {
      gap: 5px;
      top: 20px;
      @media screen and (min-width: 768px) {
        padding: 45px 0;
        gap: 0;
      }
    }

    &--promises {
      gap: 15px;
      padding: 15px 0;
      top: 35px;
      @media screen and (min-width: 768px) {
        gap: 100px;
        padding: 75px 0 75px 70px;
        top: 45px;
      }
    }

    &--info,
    &--promises {
      @include flex(row, wrap, center);
      background-color: $color-white-bg;
      max-width: 770px;
      position: absolute;
      right: 0;
      @media screen and (min-width: 768px) {
        top: 45px;
        width: 770px;
      }
    }

    &--reviews {
      max-width: 400px;
      margin-bottom: 50px;
    }
    &--contact {
      @include flex(row, wrap, center);
      gap: 30px;
      @media screen and (min-width: 768px) {
        justify-content: space-between;
      }
    }
  }

  &__list {
    &--info {
      @include flex(row, wrap, center, center);
      @media screen and (min-width: 768px) {
        max-width: 370px;
        width: 100%;
        @include flex(column, wrap, flex-start, center);
        gap: 40px;
      }
    }

    &--benefits,
    &--reviews {
      @include flex(row, wrap, center, center);
      gap: 30px;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  &__item {
    &-symbol,
    &-amount {
      font-family: $font-secondary;
    }

    &-symbol {
      @include text(40px, 400, $color-grey, 50px);
      margin-right: 10px;
    }

    &-amount {
      @include text(40px, 400, $color-title, 72px);
      @media screen and (min-width: 768px) {
        font-size: 68px;
      }
    }

    &-title {
      @extend %style-title;
      margin-bottom: 30px;
    }

    &--info {
      @include flex(column, wrap, flex-start, center);
      gap: 12px;
    }

    &--benefits {
      flex-shrink: 1;
      flex-grow: 1;
      width: calc(25% - 30px);

      min-width: 400px;
      padding: 20px 35px 0;
      height: 250px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: calc(100% - 35px);
        border: 0.5px solid $color-grey;
      }
    }

    &--reviews {
      max-width: 370px;
      height: 340px;
      padding: 30px 40px;
      @include flex(column, nowrap, space-between);
      position: relative;
    }

    &--bg-1,
    &--bg-2,
    &--bg-3 {
      z-index: 1;
    }

    &--bg-1 {
      @include background-image("../assets/bg-reviews-1.png");
    }

    &--bg-2 {
      @include background-image("../assets/bg-reviews-2.png");
    }

    &--bg-3 {
      @include background-image("../assets/bg-reviews-3.png");
    }
  }

  &__inner-content {
    max-width: 400px;
    @include flex(column, nowrap, flex-start, center);
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__blockquote {
    font-family: $font-main;
    @include text(28px, 400, $color-white, 46px);
    max-width: 710px;
    position: relative;
    &::before {
      content: url(../assets/quote-icon.svg);
      position: absolute;
      top: -30px;
      left: -60px;
    }
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__author {
    font-family: $font-secondary;
    @include text(20px, 400, $color-white, 20px);

    margin-top: 40px;
  }

  &__video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 870px;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    top: 31px;
    left: 0;
    margin-bottom: 80px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      left: 30px;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__text-container {
    width: 300px;

    &--contact {
      width: 470px;
    }
  }

  &__testimonial {
    &-text {
      font-family: $font-main;
      @include text(16px, 400, $color-white, 26px);
    }

    &-author {
      font-family: $font-secondary;
      font-style: italic;
      @include text(20px, 400, $color-white, 20px);
    }
  }

  &__item-overlay {
    width: 100%;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-overlay;
    z-index: -1;
  }

  &--contact {
    padding-top: 60px;
    border-top: 1px solid $color-grey;
  }
}
